MAILTO="bernhard+slowrollbot@..."
*/20 * * * * . ~/.slorc ; cd ~/code/git/obs/slowroll-tools && test \! -e .blockcron && TIMEOUT=5 tools/lockwrap cache/locks/selectupdates tools/triggeronurlchange http://stage3.opensuse.org:17080/tumbleweed/repo/oss/media.1/products bash -c 'sleep 30 ; DRYRUN=0 DEBUG=1 make daily' && DRYRUN=0 DEBUG=1 TIMEOUT=5 tools/lockwrap cache/locks/release tools/triggeronurlchange https://download.opensuse.org/repositories/$slobuild/standard/repodata/repomd.xml.asc make release
